# Sensible
.env
*.db
*.sqlite

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
env/
.venv/

# Uploads (images locales — à gérer avec un service cloud en prod)
!static/uploads/
!static/uploads/.gitkeep

# OS
.DS_Store
Thumbs.db
